body {
	background: #000;
	overflow: hidden;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
	from {
		background: #000;
	}
	25% {
		background-color: #003;
	}
	50% {
		background-color: #030;
	}
	to {
		background: #000;
	}
}

p {
	z-index: 0;
	color: rgba(0, 0, 0, 0);
}



