@charset "UTF-8";

/*limited reset*/
html, body, div, section, article, aside, header, footer, nav, h1, h2, h3, h4,  p, blockquote, span, em,  img, ul, li, figure, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
	color: #cb2494;
}

a:hover {
	color: rgba(206, 204, 162, 0.34);
}
a:active {
	background-color: #1e27ff;
}
/*html5 display rul*/
article, aside, figcaption, figure, footer, header, menu, nav, section,
summary {
	display: block;
}
html {
	color: #000000;
}

::selection {
	color: #9898ff;
}

body {
	color: #dddddd;
	background-color: #000000;
}

h2 {
	color: #03060b;
	background-color: #989dff;
}

p {
	font-size: 1.25em;
}
/*layout styles*/

blockquote {
	float:right;
}

/*header styles*/

header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}

header#mainHeader ul {
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #fffe22;
	padding: 0 20px;
	border-right: 1px solid #b2beff;
	text-decoration: none;
}

header#mainHeader ul li a:last-child{
	border: none;
}

header#mainHeader ul li a:hover {
	color: #b2beff;
}
header#mainHeader#home h1 a:current {
	color: #ce1fa6;
}

/*project sections styles*/
main#contact {
	text-align: center;
	padding-top:50px;
	color: #ce1fa6;
}

section#project {
	background-color: darkblue;
}