body {
	color: #dddddd;
	background-color: #000000;
}
h2 {
	color: #03060b;
	background-color: #d2ffdd;
	padding:10px
	margin:0;
	margin-right:50px;
	margin-left:50px;
}

#project {
	background-color: #7a7c8b;
}
blockquote {
	margin-top:50px;
	float:right;
}

a {
	color: #d2ffdd;
	margin:0;
	margin-right:50px;
	margin-left:50px;
	border:10px;
	padding:10px;
}
p {
	color: #000000;
	font-size: 1.25em;
	background-color: #e8e687;
	margin:0;
	margin-right:50px;
	margin-left:50px;
	border:10px;
	padding:10px;
}

a:hover {
	color: #ce9c57;
}
header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}

header#mainHeader ul {
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #989dff;
	padding: 0 20px;
	border-right: 1px solid #a4c7ce;
	text-decoration: none;
}
header#mainHeader ul li a:last-child{
	border: none;
}
header#mainHeader ul li a.current {
	color: #99cec4;
}
header#mainHeader ul li a:hover {
	color: rgba(108, 204, 119, 0.47);
}
section#projectDetails p {
	padding: 35px;
	border: 35px;
	margin-right: 35px;
	margin-left: 35px;
	color: black;
	background-color:lightgray;
}


