body {
	color: #dddddd;
	background-color: #000000;
}
h2 {
	color: #03060b;
	background-color: #989dff;
}

#project {
	background-color: darkblue;
}
blockquote {
	float:right;
}

a {
	color:lightgreen;
}
p {
	font-size: 1.25em;
}
