@charset "UTF-8";



a:hover {
	color: rgba(160, 0, 255, 0.34);
}

a:active {
	background-color: #1e27ff;
}

::selection {
	color: #9898ff;
}

body {
	color: #dddddd;
	background-color: rgba(0, 0, 0, 0.7);
}

a {
	color: rgba(193, 219, 255, 0.24);
}
a:hover {
	color: rgba(0, 16, 240, 0.29);
}

/*html5 display rul*/
article, aside, footer, header, nav, section,
summary {
	display: block;
}

html {
	color: #b7b8d3;
}

h2 {
	color: rgba(107, 33, 232, 0.18);
	background-color: rgba(0, 0, 0, 0.22);
}

p {
	color: #000000;
	font-size: 1.25em;
	background-color: #e8e687;
}

blockquote {
	margin-top:50px;
	float:right;
}

/*header styles*/

header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}
main header h1 {
	font-weight: normal;
	font-size: 2em;
	margin-top: .5em;
	color:black;
}
header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}

main article h2 {
	color: rgb(0, 0, 0);
}
header#mainHeader ul {
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #989dff;
	padding: 0 20px;
	border-right: 1px ;
	text-decoration: none;
}
header#mainHeader h1 a {
	color: #7499a4;
	text-decoration: none;
}
section.project {
	display: flex;
	flex-flow: row wrap;
	justify-content: stretch;
}
section.title {
	flex: none;
}
/*project section styles*/
main {
	border-right: 1px;
	color: #7b787f;
}

aside#submit a{
	color:yellow;
	float:right;
	position:absolute;
	right:570px;
	bottom:101px;
	clear:right;

}
}

