@charset "UTF-8";

/*limited reset*/
html, body, div, section, article, aside, header, footer, nav, h1, h2, h3, h4,  p, blockquote, span, em,  img, ul, li, figure, th, td, tr {
	margin: 0;
	padding: 0;
	border: 0;
}
a {
	text-decoration: none;
	color:#cb7d20;
}

a:hover {
	color: #952;
}

/*html5 display rul*/
article, aside, figcaption, figure, footer, header, menu, nav, section,
summary {
	display: block;
}
html {
	background: #ddd;
}
body {
	font: 100% Georgia, "Times New Roman", Times, serif;
	width: 1100px;
	margin: 0 auto;
	padding: 0 50px;
	text-align:left;
	position: relative;
	background: white;
}
nav ul, ul.menu {
	list-style: none;
}
header#mainHeader {
	height: 185px;
}
/* layout styles */
main {
	float: left;
	width: 600px;
	padding: 0 10px 0 25px;
	margin-bottom: 2em;
}
section#currentProjects, section#projects {
	float: right;
	clear: right;
	width: 450px;
	margin-bottom: 0;
}
aside#adCopy {
	float: right;
	clear: right;
	width: 450px;
	margin-bottom: 1em;
}
footer#pageFooter {
	clear: both;
	overflow: auto;
}
.floatRight {
	float: right;
}
.floatLeft {
	float: left;
}
.imgRight {
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
}
/*-------------presentation styles---------------*/

.pubdate {
	text-align:right;
	color: #666;
	font-size: .9em;
	font-style: italic;
}

/*header styles*/
header#mainHeader {
	background: url(../img/art2.png)no-repeat;
	padding: 75px 0 0 245px;
	position: relative;
	border-bottom: 2px solid #7f7f7f;
	margin-bottom: 1em;
}
header#mainHeader h1 span {
	position: absolute;
	left: -2000em;
}
header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}
header#mainHeader ul {
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #cb7d20;
	padding: 0 20px;
	border-right: 1px solid #000;
	text-decoration: none;
}
header#mainHeader ul li a:last-child{
	border: none;
}
header#mainHeader ul li a.current {
	color: #cb7d20;
}
header#mainHeader ul li a:hover {
	color: #cb7d20;
}
header#mainHeader h1 {
	font-size: 6em;
	color: #08090e;
	font-weight: normal;
}
header#mainHeader p {
	font-weight: normal;
	font-size: 2em;
}
/*project section styles*/
main {
	border-right: 1px solid #7f7f7f;
}

main header a {
	color: #cb6115;
}
main header a:hover {
	color:#952
}
main header h2 {
	font-weight: normal;
	font-size: 1.8em;
	margin-top: .5em;
}
main article h3 {
	font-weight: normal;
	color: #7f7f7f;
	font-size: 3em;
	margin-bottom: .2em;
}
main h4 {
	font-size: 1em;
	margin-top: 1.2em;
	margin-bottom: 0;
	color: #000;
}
main caption {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4em;
	text-align: left;
}
main img {
	display: block;
	float:left;
	width: 120px;
	clear:both;
}



main figcaption {
	text-transform: uppercase;
	color: #232323;
	font-size: 1.2em;
}
main blockquote {
	color: #363831;
	font-size: 1.3em;
	line-height: 1.6;
	margin-bottom: 1em;
	padding: .5em .5em 0;
}
main footer.articleFooter p {
	margin:0 0 .5em;
}
main footer.articleFooter p:first-child {
	font-weight: bold;
	font-style: italic;
}

main time.pubdate {
	text-align: left;
	margin-bottom: 1em;
}
main article section h3 {
	font-size: 2em;
	margin: 0;
}

main dt {
	display:inline-block;
	font-weight: bold;
	text-transform: uppercase;
	text-align:left;
	color:#4d4d4d;
	margin: 3em 0 1em;
	left:80px;
}
main dd {
	width: 250px;
	background: #e1d8b9;
	margin-bottom: 1em;
	padding: .3em;
}
main a {
	color: #000;
}
main a:hover {
	color: #952;
}

section#current a{
	color:#cb7d20;
}
section#current h3 {
	font-size: 2.6em;
	font-weight: normal;
	color: black;
	margin-bottom: .5em;
}
section#current article {
	background: #e0ffda;
	padding: 1em 1em;
	margin-bottom: 1.5em;
}

section#current .byline {
	font-size: 1.4em;
	color: #2d2b66;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: .2em;
}
section#current article p, section#current aside p, aside#adCopy p {
	line-height: 1.8;
	color: #1a0801;
	margin-bottom:1em;
}
section#current .pubdate {
	color: #270e48;
}

section#current aside h3 {
	font-size: 1.6em;
	color: #000;
	background: #8c73ce;
	margin: 0 -20px .5em;
	padding: .5em;
	font-weight: normal;
}

section#current article h3 span {
	font-size: 1.4em;
}
section#goals p {
	color:purple;
}

aside#adCopy {
	background: rgba(118, 160, 191, 0.65);
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: .8em;
	padding-bottom: 1em;
}
aside#adCopy h3 {
	font-size: 1.4em;
	margin-bottom: .2em;
	color: #3f3f3f;
	font-weight:bold;
	padding: 0.5em;
}
aside#adCopy img {
	display: block;
	margin: .5em auto;
	height:150px;
}
aside#adCopy a{
	font-size: 1.2em;
	color: #232323;
	font-weight: bold;
}
aside#adCopy a:hover {
	color: #3c6b92;
	text-decoration:underline;
}

header#current{
	background-color:white;
}
/*footer styles*/
footer#pageFooter {
	border-top: 2px solid #7f7f7f;
	padding: 2em;
}
footer#pageFooter div.leftCol {
	float: left;
	width: 600px;
}
footer#pageFooter div.rightCol {
	float: right;
	width: 420px;
	text-align: right;
}
footer#pageFooter div.rightCol a {
	color: #666;
}
footer#pageFooter div.rightCol a:hover {
	color: #952;
}
footer#pageFooter p {
	margin-bottom: 1em;
	color: #666;
}
footer#pageFooter small {
	font-style: italic;
}