body {
	background: url("../img/underwater.png") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	overflow: hidden;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
}

p {
	z-index: 0;
	color: rgb(3, 6, 11);
}

#bubblesdown {
	url("../img/bubblesdown.png") repeat-x 0 left;
}
#bubble,
#bubblesdown {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url(../img/transparentbubbles.png) repeat-x 0 center;
	-webkit-animation-name: transparentbubblesAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

#fog-2 {
	opacity: 1;
	-webkit-animation-duration: 120s;
}

@-webkit-keyframes transparentbubblesAnimation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(360deg);
		background-position: 1000px center;
	}
}

#manybubbles,
#manybubbles-2,
#small-stars,
#small-stars-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 600px;
	margin: -300px 0 0 -300px;
	-webkit-animation-name: bubblesLarge;
	-webkit-animation-duration: 60s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes starsLarge {
	from {
		-webkit-transform: rotate(0deg) scale(3);
		opacity: .1;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}

#stars-2 {
	-webkit-animation-name: transparentbubblesLargeAlt;
	-webkit-animation-duration: 45s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}

@-webkit-keyframes bubble {
	from {
		-webkit-transform: rotate(180deg) scale(3);
		opacity: .25;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}

#transparentbubbles,
#manybubbles {
	background: url(../manybubbles.png) no-repeat center center;
	-webkit-animation-duration: 15s;
	-webkit-animation-name: manybubblesSmall;
}

#small-stars-2 {
	-webkit-animation-name: manybubblesSmallAlt;
	-webkit-animation-duration: 30s;
}

@-webkit-keyframes bubbleSmall {
	from {
		-webkit-transform: rotate(360deg) scale(3);
		opacity: .25;
	}
	to {
		-webkit-transform: rotate(0deg) scale(.5);
		opacity: 0;
	}
}

@-webkit-keyframes manybubblesSmallAlt {
	from {
		-webkit-transform: rotate(0deg) scale(3);
		opacity: .1;
	}
	to {
		-webkit-transform: rotate(360deg) scale(.5);
		opacity: 0;
	}
}


#helmetcat {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	background: url(../img/helmetcat.png) repeat-x 0 center;
	-webkit-animation-name: helmetcatAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 4;

}

#helmetcat {
	-webkit-animation-duration: 120s;
}

@-webkit-keyframes helmetcatAnimation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(360deg);
		background-position: 1000px center;
	}
}
