body {
	background: url("../img/water/underwater2.jpg") no-repeat center center fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	background-size:cover;
	overflow: hidden;
	-webkit-animation-name: pulse;
	-webkit-animation-duration: 30s;
}
nav, ul, li, figure {
	margin: 0;
	padding: 0;
	border: 0;
}

header#mainHeader nav {
	position: absolute;
	left: 225px;
	top: 0;
	padding-top: 15px;
}
header#mainHeader ul {
	float: left;
}
header#mainHeader ul li {
	float: left;
}
header#mainHeader ul li a{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2em;
	color: #000;
	padding: 0 20px;
	border-right: 1px solid #000;
	text-decoration: none;
}
header#mainHeader ul li a:last-child{
	border: none;
}
header#mainHeader ul li a.current {
	color: #cb7d20;
}
header#mainHeader ul li a:hover {
	color: #cb7d20;
p {
	z-index: 0;
	color: rgb(3, 6, 11);
}

#transparentbubbles {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url('../img/water/transparentbubbles.png') repeat-x 0 center;
	-webkit-animation-name: transparentbubblesAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 1;
}



@-webkit-keyframes transparentbubblesAnimation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: top right;
	}
	to {
		-webkit-transform: rotate(285deg);
		background-position: 1000px center;
	}
}


#splash2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url('../img/water/splash2.png') repeat-x 0 center;
	-webkit-animation-name: splash2Animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 2;
}



@-webkit-keyframes splash2Animation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: top left;
	}
	to {
		-webkit-transform: rotate(265deg);
		background-position: 1000px center;
	}
}

#helmetcat {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	background: url(../img/water/helmetcat.png) no-repeat 0 center;
	-webkit-animation-name: helmetcatAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 3;

}

#helmetcat {
	-webkit-animation-duration: 120s;
}

@-webkit-keyframes helmetcatAnimation {
	from {
		-webkit-transform: rotate(0deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(360deg);
		background-position: 500px center;
	}
}

#clearsplash {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url('../img/water/clearsplash.png') repeat-x right;
	-webkit-animation-name: clearsplashAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 4;
}



@-webkit-keyframes clearsplashAnimation {
	from {
		-webkit-transform: rotate(10deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(280deg);
		background-position: 1000px center;
	}
}
#splash3 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url('../img/water/splash3.png') repeat-x right;
	-webkit-animation-name: splash3Animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 5;
}



@-webkit-keyframes splash3Animation {
	from {
		-webkit-transform: rotate(5deg);
		background-position: 0 center;
	}
	to {
		-webkit-transform: rotate(300deg);
		background-position: 400px;
	}
}

#transparentbubbles2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .20;
	background: url('../img/water/transparentbubbles.png') repeat-x 0 center;
	-webkit-animation-name: transparentbubbles2Animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 6;
}



@-webkit-keyframes transparentbubbles2Animation {
	from {-webkit-transform: rotate(275deg);
		background-position: 800px ;

	}
	to {-webkit-transform: rotate(7deg);
		background-position: 30px ;
	}
}

#clearsplash2 {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .15;
	background: url('../img/water/clearsplash2.png') repeat-x right;
	-webkit-animation-name: clearsplash2Animation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 5;
}



@-webkit-keyframes clearsplash2Animation {
	from {
		-webkit-transform: rotate(300deg);
		background-position: 400px;
	}
	to {-webkit-transform: rotate(37deg);
		background-position: 80px;

	}
}
#waterdrops {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2000px;
	height: 2000px;
	margin-top: -1000px;
	margin-left: -1000px;
	opacity: .5;
	background: url('../img/water/waterdrops.png') repeat-x center;
	-webkit-animation-name: waterdropssAnimation;
	-webkit-animation-duration: 30s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	z-index: 6;
}

@-webkit-keyframes waterdropsAnimation {
	from {
		-webkit-transform: rotate(35deg);
		background-position: top right;
	}
	to {
		-webkit-transform: rotate(285deg);
		background-position: 1000px center;
	}
}

